*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
    line-height: 1.5;
}

body {
    font-family: "Rubik", sans-serif;
    background-color: #0D1A2D;
}

.wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.Box {
    background-color: #15273F;
    border-radius: 20px;
    box-shadow: 10px 10px 10px 10px #0000005b;
    width: min-content;
    padding-top: 1em;
    padding-bottom: 1em;
}

.jef {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 1em;
}

.Cube {
    width: 300px;
    border-radius: 20px;
    margin-inline: 1em;
}

.title {
    color: #fff;
    padding: 0.5em 1em;
    font-size: 2rem;
    font-weight: 700;
    text-shadow: 0px 0px 3px #ffffff, 0 0 5px #000000;
}

.no {
    letter-spacing: -2px;
}

.description {
    font-size: 1.3rem;
    font-weight: 400;
    padding-left: 1em;
    letter-spacing: 0px;
    margin-left: 7px;
}

.container {
    display: flex;
    font-size: 1.31rem;
    margin-bottom: 1rem;
    margin-top: 1rem;
}

.ETH {
    padding: 1em 1.5em 0;
    display: flex;
    justify-content: flex-start;
    gap: 10px;
    width: 50%;
    margin-left: 1px;
    color: #00E8E6;
}

.fa-brands {
    padding-top: 3px;
    font-weight: 400;

}

.time {
    padding: 1em 1em 0;
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    width: 50%;
    font-weight: 400;
}

.fa-solid {
    padding-top: 4px;
}

.line {
    display: block;
    width: 85%;
    margin-inline: auto;
    border-radius: 10px;
    border-color: #ffffff;
    opacity: 0.1;
    margin-bottom: 2rem;
}

.Personal__info {
    display: flex;
    gap: 20px;
    margin-left: 25px;
    padding-bottom: 1em;
}

.PP {
    width: 35px;
    height: 35px;
    display: block;
    border-radius: 50%;
}

.span {
    padding-right: 0.2rem;
}

.Creator {
    color: #fff;
    padding-top: 5px;
    font-size: 1.2rem;
    font-weight: 500;
}

.COLOR {
    color: #8db2dec7;
}

@media (max-width: 425px) {

    .Box {
        width: min-content;
    }

    .title {
        word-spacing: -3px;
    }

    .description {
        font-size: 1rem;
        letter-spacing: 2px;

    }

    .container {
        font-size: 1rem;
    }
}

@media (max-width: 340px) {

    .Cube {
        margin-inline: 0.5em;
    }

}

@media (max-width: 320px) {

        .Cube {
            width: 250px;
        }

        .title {
            font-size: 1.5rem;
        }

        .description {
            letter-spacing: 0px;
        }
        
        .Personal__info {
            font-size: 0.7rem;
        }

        .Creator {
            font-size: 1rem;
        }
}

@media (max-width: 270px) {

    .Cube {
        width: 240px;
    }

}